@page "/students/{page:int}"
@page "/students/search/{searchText}/{page:int}"
@inject IAuthService AuthService
@inject IStudentService StudentService
@inject IInterestService InterestService
@inject ILanguageService LanguageService
@implements IDisposable
@attribute [Authorize]

<PageTitle>Find Students</PageTitle>

<SearchStudents />

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Languages</th>
			<th>Interests</th>
		</tr>
	</thead>
	<tbody>
		@if(StudentService.Students != null && StudentService.Students.Count != 0)
		{
			<Virtualize Items="StudentService.Students" Context="student">
				<tr>
					<td><a href=@($"/student_profile/{student.Id}/1")>@student.FirstName @student.LastName</a></td>
					<td>
						@if(userLanguages != null && userLanguages.Count > 0)
						{
							@foreach (var userLanguage in userLanguages.Where(ul => ul.UserId == student.Id))
							{
								<div class="mb-3">
									@foreach (var language in LanguageService.Languages)
									{
										if(userLanguage.LanguageId == language.Id)
										{
											<span>@language.Name</span>
										}
									}
								</div>
							}
						}
					</td>
					<td>
						@if(studentInterests != null && studentInterests.Count != 0)
						{
							@foreach (var studentInterest in studentInterests.Where(ti => ti.StudentId == student.Id))
							{
								<span>@InterestService.Interests.Find(i => i.Id == studentInterest.InterestId).Name</span>
								<br />
							}
						}
					</td>
				</tr>
			</Virtualize>
		}
	</tbody>
</table>

@for (var i = 1; i <= Math.Ceiling((double)studentsCount/5); i++)
{
	<a class="btn @(i == Page ? "btn-info" : "btn-outline-info") page-selection"
				href=@((SearchText == null || SearchText.Equals("")) ? $"students/{i}" : $"students/search/{SearchText}/{i}")>@i</a>
}

@code {

	[Parameter]
	public int Page { get; set; } = 1;

	[Parameter]
	public string? SearchText { get; set; } = null;

	List<UserLanguage> userLanguages = new List<UserLanguage>();
	List<StudentInterest> studentInterests = new List<StudentInterest>();
	int studentsCount = 0;

	protected override async Task OnInitializedAsync()
	{
		studentsCount = await StudentService.GetStudentsCount();
		StudentService.StudentsChanged += StateHasChanged;
	}

	public void Dispose()
	{
		StudentService.StudentsChanged -= StateHasChanged;
	}

	protected override async Task OnParametersSetAsync()
	{
		if(SearchText == null || SearchText.Equals(""))
		{
			await StudentService.GetStudentsPaginated(Page);
			studentsCount = await StudentService.GetStudentsCount();
		}
		else
		{
			await StudentService.SearchStudents(SearchText, Page);
			studentsCount = await StudentService.SearchStudentsCount(SearchText);
		}
		await InterestService.GetInterests();
		await LanguageService.GetLanguages();
		userLanguages = await AuthService.GetAllUserLanguages();
		studentInterests = await StudentService.GetAllStudentInterests();
	}
}
